header {
    background-color: rgb(112, 108, 108);
    color: #f7f7f7;
    padding: 10px 10px;
    margin-bottom: 10px;
    text-align: center;
}

.tab-content {
    margin: 30px 0px;
}

.tab-image {
    height: 300px;
}
