header {
    margin-bottom: 10px;
}

.navbar {
    color: #f7f7f7;
}

.tab-content {
    margin: 20px 0px;
}

.tab-image {
    height: 280px;
}

.card {
    margin: 20px 0;
}

.btn:focus,.btn:active {
    outline: none;
    box-shadow: none;
    background-color: #202324;
}

.btn:hover {
    background-color: #202324;
 }